:root {
     --color-body: white;
     --color-about: white;
     --color-skills: #337ab7;
     --color-projects: #313339;
     --color-contact: #337ab7;
     --page-min-width: 780px;
     --background-body: #28292F;
     --background-about: #337ab7;
     --background-skills: white;
     --background-projects: #337ab7;
     --background-certifications: white;
     --background-contact: #337ab7;
     --background-section-title: #337ab7;
}
 html{
     margin:0px;
     padding:0px;
     width:100%;
}
 body {
     margin:0px;
     padding:0px;
     width:100%;
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 20px;
     background-color: #28292F;
     background-color: var(--background-body, white);
     color: #555;
     position: relative;
     display: table;
     display: -ms-flexbox;
}
 #wrapper {
     padding: 0px;
}
 #nav {
}
 #nav-col {
     width: 100%;
     margin: auto;
     padding: 0px;
     -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
     transform-style: preserve-3d;
}
 #navbar-name {
     color: white;
     width: 100%;
}
 #hamburger-menu {
     background-color: #28292f;
}
 .bg-dark {
     background-color: #28292f !important;
}
 .collapse {
     display: none;
}
 #hamburger-menu {
     display: none;
}
 #collapse-menu {
     display: none;
     background-color: #28292f !important;
}
 #vertical-nav-pills {
     display: block !important;
}
 li.nav-item-vertical > a.nav-link{
     width:100%;
     display: block !important;
}
 .navbar {
     height: 75px;
     padding: 0;
     width: 100%;
}
 .col-xs {
     margin: 0 auto 0 auto;
}
 .horizontal-nav-element {
     position: relative;
     top: 50%;
     transform: translateY(-50%);
}
 .navbar-inverse {
     background-color: transparent;
     border-color: transparent;
}
 #navbar-container {
     margin: auto;
     background-color: #28292F;
     width: 100%;
     height: 100%;
     padding: 0px;
}
 .nav-link {
     color: white;
     display: inline;
}
 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
     background-color: #ffffff;
     color: #313339;
}
 a.nav-link:hover {
     color: white;
    /* opacity: 0.5;
     */
}
 .col-12 {
     padding: 0;
}
 #about-content {
     width: 100%;
     background-color: #337ab7;
     color: white;
     color: var(--color-about, white);
}
 #about-h1 {
     font-weight: bold;
     font-size: 4em;
     padding: 10px;
     border-bottom: 2px solid #f8f9fa;
}
 #about-p{
     padding: 10px;
}
 .about-text{
     width: 100%;
}
 .skills-hr {
     border-top: 2px solid rgba(0, 0, 0, 0.1);
}
 .link-buttons {
     display: block;
}
 .web-links {
     font-size: 4em;
     padding: 0px 10px 0px 10px;
     display: inline-block;
     width: 150px;
     color: white;
}
 #contact-content {
     width: 100%;
     color: white;
     background-color: #337ab7;
    ;
     margin: auto;
}
 ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
     color: white;
     opacity: 1;
    /* Firefox */
}
 ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
     color: white;
}
 ::-ms-input-placeholder {
    /* Microsoft Edge */
     color: white;
}
 #form-container>hr {
     border-top: 2px solid rgba(255, 255, 255, 1);
     padding: 5px;
}
 #form>hr {
     border-top: 2px solid rgba(255, 255, 255, 1);
     padding: 5px;
}
 #form-container {
     background-color: white;
     width: 80%;
    /* 660px;
     */
     margin: auto;
     border-radius: 5px;
     padding: 10px;
     background-color: #337ab7;
    ;
}
 .form {
     display: inline-block;
     width: 100%;
     border: 0px;
     background-color: #337ab7;
    ;
     color: white;
}
 #submit-container {
     width: 100%;
}
 #submit-container>input {
     font-size: 2em;
}
 #contact-content-row {
     margin: auto;
     vertical-align: middle;
}
 .section-col {
     margin: auto;
     padding: 20px 50px 20px 50px;
     height: 100%;
     max-width: 80%;
}
 .section {
     min-height: 300px;
     width: 100%;
     z-index: 0;
     position: relative;
}
 .section-title {
     margin: 0px;
     padding: 2vh 5vw 2vh 5vw;
     background-color: #337ab7;
     color: white;
     z-index: 1;
}
 .section-title-text {
     margin: 0px;
     padding: 0 10px 0 10px;
     display: inline-block;
     background-color: #337ab7;
     position: sticky;
}
 .section-title-hr {
     margin: 0;
     border-top: 2px solid rgba(255, 255, 255, 1);
     position: relative;
     bottom: -1.25em;
     background-color: white;
     width: 100%;
}
 #skills {
     background-color: white;
     color: #555;
}
 #skills > div > h1{
     background-color: white;
}
 #skills > hr{
     border-top: 2px solid rgba(0, 0, 0, 0.2);
}
 #certifications {
     background-color: white;
     color: #555;
}
 #certifications > div > h1{
     background-color: white;
}
 #certifications > hr{
     border-top: 2px solid rgba(0, 0, 0, 0.2);
}
 .sections-dummy {
     background-color: #337ab7;
}
 #dummy-top {
     padding: 75px 0px 0px 0px;
}
 #profile-picture {
     border-radius: 50%;
     height: auto;
     max-width: 300px;
}
 .profile-picture-col {
     margin-bottom: 20px;
}
 #profile-picture {
     margin: 0px;
     vertical-align: middle;
}
 #skills-content {
     width: 100%;
     padding: 20px;
     background-color: white;
}
 #certifications-content {
     width: 100%;
     padding: 20px;
     background-color: white;
}
 #skills-content>h1 {
     margin: 10px 0px 10px 0px;
     font-weight: bold;
}
 #skills-content>hr {
     padding: 5px;
}
 .skills-group {
     border-top: 2px solid rgba(0, 0, 0, 0.1);
     border-bottom: 2px solid rgba(0, 0, 0, 0.1);
     padding: 10px;
     margin: 20px 0 20px 0;
}
 .icon>i {
     font-size: 5em;
}
 .icon>p {
     font-size: 16px;
     margin: 0;
}
 .projects-group {
     border-top: 2px solid rgba(255, 255, 255, 1);
     border-bottom: 2px solid rgba(255, 255, 255, 1);
     padding: 10px;
     margin: 20px 0 20px 0;
}
 #projects-content {
     color: white;
     background-color: #337ab7;
}
 #thumbnail-grid {
     text-align: -webkit-center;
     width: fit-content;
}
 .thumbnail {
     padding: 0px;
     background-color: #313339;
     margin: 2em auto ;
     width : 14em;
}
 .shadow {
     position: relative;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
 .shadow:before, .shadow:after {
     content: "";
     position: absolute;
     z-index: -1;
     -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
     -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
     top: 50%;
     bottom: 0;
     left: 10px;
     right: 10px;
     -moz-border-radius: 100px / 10px;
     border-radius: 100px / 10px;
}
 .shadow:after {
     right: 10px;
     left: auto;
     -webkit-transform: skew(8deg) rotate(3deg);
     -moz-transform: skew(8deg) rotate(3deg);
     -ms-transform: skew(8deg) rotate(3deg);
     -o-transform: skew(8deg) rotate(3deg);
     transform: skew(8deg) rotate(3deg);
}
 .thumbnail>p {
     padding: 9px;
     margin: 0px;
}
 .thumbnail .figure-caption {
     font-size: 12px;
     color: white;
}
 .portfolio-img-bg {
     background-color: black;
}
 .portfolio-img {
     width: 100%;
     opacity: 1;
}
 .portfolio-img:hover {
     opacity: 0.5;
}
 h1 {
     margin-top: 0px;
     margin-bottom: 0px;
}
 .vertical-btn {
     margin: 10px 0px 10px 0px;
}
 @media (max-width: 768px) {
     #horizontal-nav-pills {
         display: none;
    }
     #nav-column {
         margin: 0;
    }
     .sections-dummy {
         padding-top: 40px;
    }
     #navbar-nameCol {
         display: none;
    }
     .section-col {
         max-width: 100%;
    }
     .collapse {
         display: block;
    }
     #hamburger-menu {
         display: flex;
    }
     #collapse-menu {
         display: table;
    }
}
 
